.LocationCard {
  transition: transform 150ms ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &__content {
    display: grid;
    grid-template-rows: 12rem 2rem 1.5rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
